body {
  margin: 0;
  padding: 0;
}
header {
  background-color: rgb(38, 65, 184);
  height: 80px;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
h1 {
  align-items: center;
}

.display-current {
  border: black 1px solid;
}
#current-location {
  display: inline;
}

.form-label {
  font-size: 27px;

}

.form-control {
  width: 100%;
}

.btn {
width: 100%;
}

.search {
  padding-right: 30px;
}

.card {
  background-color: cornflowerblue;
  margin-top: 20px;
  margin-right: 20px;
}

span {
  padding: 5px;
  border-radius: 15%;
}

/* img {
  width: 40px;
  height: 40px;

} */